@model IEnumerable<MvcEntity.Models.Paciente>

@{
    ViewData["Title"] = "Mantenedor de Pacientes";
}

<h1>Mantenedor de Pacientes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afiliacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Afiliacion)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Rut">Edit</a> 
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Rut">Details</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Rut">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
